
.profile-bio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    color: black;
}

.white-text-overall{
    color: white;
    font-size: 20px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    display: flex;
    flex-direction: column;
  
}

.padding-between{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.bio-button{
    font-size:15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    padding: auto;
}

.align-bio-button{
    justify-content: center;
}

.Profile-info{
    border: var(--darkgrey) 1px solid;
    border-radius: var(--xs);
    margin-top: var(--m);
    border-radius: 8px;
    background-color: white;
    /* color: black; */
    /* position: relative; */
}

.Profile-text{
    font-weight: 500;
    font-size: 20px;
}

.Profile-username{
    font-weight: bold;
}