.bg-size {
  width: 85%;
  height: 100%;
}

.bg-pos {
  /* margin-right: 0; */
  position: relative;
}

.bg-color {
  background-color: rgb(132, 149, 164);
} 

.bg-padding {
  padding-right: 2%;
  /* padding-top: 2%; */
}