.outer {
  display: grid;
  grid-template: 1fr / 1fr;
  /* place-items: center; */
  pointer-events: none;
}
.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.outer .below {
  z-index: 1;
  pointer-events:all;
  /* background-color: aqua; */
}
.outer .top {
  z-index: 2;
  /* background-color: brown; */
}