.NewPostInput-input,
.NewPostInput-button {
  /* font-family: "Open Sans"; */
  font-size: 14px;
  padding: var(--s) var(--m);
  text-decoration-color:rgb(64, 60, 60);
  
}

.seperation{
  justify-content: space-between;
}

.new-post-layout{
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
  flex-grow: 1;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
  background-color: white;
}

.NewPostInput-input {
  flex-grow: 1;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;

}

.NewPostInput-input:focus-within {
  border-color: var(--primary--dim);
  box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
  color:black;
}

.NewPostInput-button {
  /* color: var(--primary); */
  color: darkslategray;
  /* border: var(--primary) 1px solid; */
  border: rgb(132, 149, 164) 1px solid;
  border-radius: 8px;
  background: none;
  transition: color 0.1s, background 0.1s;
  height: 40px;
  width: 100px;
  margin-left:auto;
}

.NewPostInput-button:hover {
  color: var(--white);
  /* background-color: var(--primary); */
  background-color: rgb(132, 149, 164);
}

.image-input{
  display:none;
}

.location-input{
  width: 400px;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
}

.location-setting{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-display{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
}

.changing-layout{
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 100%;
  flex-grow: 1;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
  background-color: white;
  justify-self: center;
}

label{
  border: 1px solid #e5e5e5;
  border-radius: 0 var(--xs) var(--xs) 0;
  padding: 5px;
  /* font-family: "Open Sans"; */
  /* font-weight: normal; */
  transition: .5s;
  text-align: center;
  justify-content: center;
  height: min-content;
  min-height: 35px;
  min-width: 200px;
  width: min-content;
  /* color: var(--darkgrey); */
  color: rgb(155,163,175);
  /* font-family: "sans-serif"; */
  font-size: 19px;
  transition: box-shadow 0.1s;
}

.Image-text{
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  width: min-content;
}
/* label:hover {
  background-color: 
} */
