.page-size {
  height: 100%;
  width: 100%;
}

.page-overflow {
  overflow-y: hidden;
  /* overflow-x: hidden; */
}

.page-text-padding {
  box-sizing: border-box;
  padding: 1%;
  padding-top: 2%;
}

.page-head-size {
margin-right: 1%;
}


