.page-size {
  height: 100%;
  width: 100%;
}

.page-overflow {
  overflow-y: hidden;
  /* overflow-x: hidden; */
}

.page-text-padding {
  padding: 1%;
  padding-top: 2%;
}

.page-text{
  display:flex;
  flex-direction: row;
  justify-content: left;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}


