.Card-container {
    border: var(--darkgrey) 1px solid;
    border-radius: var(--xs);
    margin-top: var(--m);
    border-radius: 8px;
    background-color: white;
    /* position: relative; */
  }
  
  .Card-container:first-of-type {
    margin-top: var(--l);
    /* background-color: white; */
  }
  
  .Card-story,
  .Card-commentSection {
    padding: var(--m) var(--l);
    /* color: black; */
  }
  
  .Card-storyUser {
    font-size: 20px;
    font-weight: 600;
  }
  
  .Card-storyContent {
    /* font-size: 40px; */
    font-size: 15px;
    margin: var(--s) 0 0;
    color: black;
    /* background-color: white; */
  }
  
  .Card-commentSection {
    background-color: var(--grey);
    border-top: 1px solid var(--darkgrey);
    border-radius: 8px;
  }
  
  .Card-commentBody {
    margin: 0 0 var(--s);
  }

  .black-text{
    color: black;
  }

  .Card-imgSize{
    max-width: 200px;
    max-height: 200px;
  }
