.SavedPost-button:hover{
    color: var(--white);
    /* background-color: var(--primary); */
    background-color: rgb(132, 149, 164);
}

.SavedPost-button{
    height: min-content;
    /* justify-content: flex-end; */
    /* position: 'absolute'; */
    /* top: 0;
    right: 0  */
}

.SavedPost-size{
    display: flex;
    /* flex-direction: row; */
    /* flex: 100%; */
    /* margin-right: auto; */
    width: 100%;
    justify-content: space-between
}